@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 100px;
}

.container {
  width: 500px;
}

.btn {
  cursor: pointer;
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.input {
  @apply mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.courses-row {
  @apply grid grid-cols-3 gap-4;
}

.course-card {
  @apply shadow appearance-none border rounded w-full;
}

.course-content {
  @apply flex h-24 w-full flex-col justify-around px-4;
}

.course-title {
  color: #1b3e4f;
  @apply text-xl font-bold;
}

.course-revelance {
  @apply text-xs font-bold uppercase;
}

.page-header {
  @apply flex w-full flex-row place-content-between mb-16;
}

.title {
  color: #1b3e4f;
  @apply text-xl font-bold;
}

.homepage-title {
  font-size: 90px;
  color: #1b3e4f;
  font-weight: 600;
  margin-bottom: 60px;
}

.homepage-buttons-container {
  display: flex;
  justify-content: center;
}
